<div class="container-xl">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center card-title">Carta online</h2>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="container col-sm-7">
                    <div class="card-body">
                        <h4 class="text-center card-title">Tacos</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-sub">Taco Ricachon</h5>
                        <p class="card-text">"Carne de res salteada con cebolla, pimentón y champiñones, coronado con
                            aguacate y cilantro."</p>
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-sub">Taco Camaron Patriota</h5>
                        <p class="card-text"> "Camaroncitos salteados con tomate y cebolla, coronados con lechuga,
                            cilantro y crema."</p>
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-sub">Taco del Trompo</h5>
                        <p class="card-text">"Trocitos de cerdo adobado con piña, cebolla, aguacate y cilantro"</p>
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </div>

                    <div class="card-title">
                        <h4 class="text-center">Bebestibles</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Doña Margara</h5>
                        <p class="card-text">"Tequila Reposado, Limón Natural y Triple Sec."</p>
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Doña Chamoy</h5>
                        <p class="card-text">"Nuestra Doña Márgara con Limón de Pica, Borde de Salsa Chamoy y Tajín.
                            Presentados en un Vaso Margarita de Cobre."</p>
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </div>
                    <div class="card-body text-center">
                        <button type="button" class="btn btn-primary btn-lg" (click)="IrVerPedido()">Ir al pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
