<div class="container-xl">
    <div class="col-sm-11">
        <h2 class="text-center">Pedidos</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Taco Camaron</td>
                <td>1x</td>
                <td>8490</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Taco Ricachon</td>
                <td>1x</td>
                <td>7900</td>
              </tr>
              
            </tbody>
          </table>
    </div>
    <div class="text-center">
        <h3>TOTAL: $16390</h3>
        <button type="button" class="btn btn-primary">Confirmar</button>
    </div>
</div>